{% extends "base_generic.html" %}

{% block content %}
<h1>Добро пожаловать в мир музыки!</h1>
<h2>Каталог музыкальной билиотеки:</h2>
<p>Количественные данные:</p>
<ul>
	<li><strong>Произведения:</strong>{{ num_books }}</li>
	<li><strong>Жанры:</strong>{{ num_genres }}</li>
	<li><strong>Композиторы:</strong>{{ num_authors }}</li>
</ul>
<div class="btn-group" role="group">
	<button 
	type="submit" 
	onclick="window.location.href='add-author';" class="btn btn-secondary">Новый композитор</button>
	<button type="submit" class="btn btn-secondary"
	onclick="window.location.href='add-book';">Новое произведение</button>
	<button type="submit" class="btn btn-secondary"
	onclick="window.location.href='#';">Новый жанр</button>
</div>
{% endblock %}